# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
*/.cache/*
*/build/*
*/_deps/*
MLP/CMakeFiles/*
*/.idea/*
*/.vscode/*
MNIST/*
.vscode/*
*/data/*

# Large model files and datasets
*.pth
*.onnx
*.tar.gz
*.json
*.yml
*.ipynb
**/train-images-idx3-ubyte*
**/t10k-images-idx3-ubyte*
**/cifar-*
**/FashionMNIST/**
**/MNIST/**